
        
    .container
    {
        border:2px solid #5f053c5f;
        display:flex;
       margin: 20px 80px;
       
       background-color: hsla(192, 100%, 97%, 0.845);
       
       align-items: center;
        
        border-radius: 10px;
        gap:20px;
        height: 80px; 
      
    }

    
    .box{
        background-color:yellow;
        font-size: 20px;
        align-items: end;
        
        border-radius: 10px;
        
        padding:10px 40px;
    }  
    .box-1{
        background: hsla(192, 100%, 97%, 0.845);
       text-align: end;
    }
    main{
        justify-content:space-around;
        align-items: center;
    }
    
    .logo img{
        width: 164px;
        margin: 0px 20px;
       
    }
    .first img{
        padding: 20px;
        gap: 20px;
    }
    .right ul{
        display:flex;
        gap:34px;
        font-size: 20px;
        align-items: center;

    }
    .right ul li{
        list-style:none;
    }
    .first{
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        flex-direction: column;
        gap: 23px;
        padding: 0px 12px;
    }
    .first span{
        font-size: 40px;
    }
    .btn{
        background-color: rgb(0, 213, 255);
        padding: 12px 15px;
        color:white;
        border-radius: 3px;
        font-size: 15px;
        margin: 12px 0px;
        cursor: pointer;
    }
    .second{
        display:flex;
        justify-content:center;
        text-align: center;
        padding: 25px;
        align-items: center;
        font-size: 20px;
       
    }
    
    .grid{
        display:grid;
        
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 20px;
        gap:12px;
        justify-content: center;
        margin:auto;
        max-width: 70vw;
        
        
        
    }
    .Green{
        background-color: hwb(160 50% 0% / 0.475);
    } 
    .item{
        text-align: center;
        border-radius: 13px;
        padding: 20px ;
        background-color: #f2f0ec;
        width: max-content;
    
    }
    .item-lang{
        padding-bottom: 36px;
        font-weight: 500px;
        text-decoration: solid;

    }  
    
    @media screen and (max-width: 945px)
    {
        .grid{
        display:grid;
        
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 20px;
        gap:12px;
        justify-content: center;
        margin:auto;
        max-width: 70vw;
        background-color: red;
        
        }
    } 
       
            
            
         

       
